export consumer_key_usagers=01234
export consumer_key_agents=12345
export consumer_secret_usagers=56789
export consumer_secret_agents=67890
export authentic_usagers_hostname=usagers.staging.imio.be
export authentic_agents_hostname=agents.staging.imio.be
export service_ou=80265465464
export service_slug=localhost
export application_id=iasmartweb
