[buildout]

extensions = buildout.dumppickedversions
dump-picked-versions-file = versions-picked.cfg
overwrite-picked-versions-file = true
allow-picked-versions = false


parts =
    productdistros
    svnproducts
    omelette
    instance1
    zopepy

# If you want to get the last versions of eggs, you have to comment the line "versions-prod.cfg"
extends = 
    http://dist.plone.org/release/4.1.4/versions.cfg
    versions-base.cfg

versions=versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.1.4
    http://dist.plone.org/thirdparty
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://b.pypi.python.org
    http://c.pypi.python.org
    http://d.pypi.python.org

# Add additional eggs here
# elementtree is required by Plone
eggs =
    Plone
    Pillow
#    PyXML

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/acptheme.cpskin3
#    src/communesplone.comarquage
    src/communesplone.layout
    src/Products.directory
    src/Products.PloneboardSubscription
    src/tecnoteca.googlemap

# Only take stable eggs
#prefer-final = true

# Always unzip eggs
unzip = true

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.

[productdistros]
recipe = plone.recipe.distros
urls = 
#    file://${buildout:directory}/ZPsycopgDA_2013.tgz
nested-packages = 
version-suffix-packages = 

[svnproducts]
recipe = infrae.subversion
urls =
#    http://svn.communesplone.org/svn/communesplone/ACPTranslation/tags/plone3x ACPTranslation
#    http://svn.communesplone.org/svn/communesplone/BottinAssociation/trunk/@6022 BottinAssociation
#    http://svn.communesplone.org/svn/communesplone/BottinCommercant/trunk/@6022 BottinCommercant
    http://svn.communesplone.org/svn/communesplone/contacts/tags/0.6 contacts
#    http://svn.communesplone.org/svn/communesplone/CPDescriptive/trunk/@6022 CPDescriptive
#    http://svn.communesplone.org/svn/communesplone/CPFCKTemplates/trunk/@6022 CPFCKTemplates
    http://svn.communesplone.org/svn/communesplone/CPUtils/trunk CPUtils
#    http://svn.plone.org/svn/collective/Products.Ploneboard/trunk/Products/Ploneboard@146114 Ploneboard
#    http://svn.plone.org/svn/collective/PloneGazette/trunk@146114 PloneGazette
#    http://svn.communesplone.org/svn/communesplone/RICDescriptive/trunk/@6022 RICDescriptive
#    http://svn.plone.org/svn/collective/Products.slideshowfolder/trunk/Products/slideshowfolder@146114 slideshowfolder
#    http://svn.communesplone.org/svn/communesplone/ZopeRepository@6022 ZopeRepository

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance1:eggs}
products = ${instance1:products}
#packages = ${zope2:location}/lib/python ./

[instance1]
recipe = plone.recipe.zope2instance
#effective-user = 
user = admin:admin
http-address = 8081
zserver-threads = 4
debug-mode = off
verbose-security = off
zope-conf-additional =
  %define FILESTORAGE ${buildout:directory}/var/filestorage
  %define BLOBSTORAGE ${buildout:directory}/var/blobstorage
  %include ${buildout:directory}/zope_add.conf
environment-vars =
  PYTHON_EGG_CACHE ${buildout:directory}/python-eggs
  zope_i18n_compile_mo_files true

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}
    Products.directory
    Products.DocFinderTab
    Products.Ploneboard
#    Products.PloneboardNotify
    Products.PloneboardSubscription
    Products.Ploneboard
    Products.PloneFormGen
    Products.PloneGazette
#    Products.PloneGlossary #beta
    acptheme.cpskin3
    atreal.mailservices
#    communesplone.comarquage
    communesplone.layout
    collective.captcha
    collective.ckeditor
    collective.contentleadimage
    collective.easyslider
    collective.plonetruegallery
    collective.quickupload
    collective.tinymcetemplates
    medialog.subskins
#    collective.zipfiletransport #2.2.1 not working in P4
#    five.pt
    Products.csvreplicata
    Products.PlonePopoll
    tecnoteca.googlemap
    Solgema.fullcalendar
    
# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    acptheme.cpskin3
    atreal.mailservices
#    communesplone.comarquage
    communesplone.layout
    collective.captcha
    collective.ckeditor
    collective.contentleadimage
    collective.easyslider
    collective.plonetruegallery
    collective.quickupload
    collective.tinymcetemplates
    medialog.subskins
#    five.pt
    tecnoteca.googlemap
    Solgema.fullcalendar
    
products =
    ${buildout:directory}/products
    ${productdistros:location}
    ${svnproducts:location}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance1:eggs}
interpreter = zopepy
scripts = zopepy
