[buildout]
auto-checkout +=
    plonetheme.polemuseal

[sources]
plonetheme.polemuseal = svn http://svn.communesplone.org/svn/communesplone/plonetheme.polemuseal/trunk

[instance1]
#use the instance1 eggs to extends the base eggs defined in [buildout]
recipe = plone.recipe.zope2instance

eggs +=
    plonetheme.polemuseal

zcml +=
