#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

INSTANCECOUNT := 1
PACKAGE	  := imio-website
CURDIR    := $(shell pwd)
BUILDDIR  := $(CURDIR)/tmp/$(PACKAGE)
DEBIANCORE    := $(CURDIR)/debian/$(PACKAGE)-core
DEBIANINSTANCE    := $(CURDIR)/debian/$(PACKAGE)-instance
DEBIANZEO    := $(CURDIR)/debian/$(PACKAGE)-zeoserver
INSTALLDIR   := /home/imio/$(PACKAGE)

distribution := $(shell lsb_release -is)

clean:
	#rm -rf $(BUILDDIR)/
	dh_testdir
	dh_testroot
	#rm -rf build
	#rm -f build-stamp
	dh_clean

build:
	mkdir -p $(BUILDDIR)
	cp -ap ./bootstrap.py $(BUILDDIR)
	cp -ap ./*.cfg $(BUILDDIR)
	cd $(BUILDDIR) && virtualenv -p /opt/python2.7.8/bin/python2.7 .
	rm -f $(BUILDDIR)/buildout.cfg
	rm -f $(BUILDDIR)/lib/python2.7/site-packages/easy-install.pth
	rm -rf $(BUILDDIR)/lib/python2.7/site-packages/setuptools*
	mkdir -p $(BUILDDIR)/eggs
	cd $(BUILDDIR) && bin/python bootstrap.py buildout:eggs-directory=$(BUILDDIR)/eggs -c prod.cfg
	cd $(BUILDDIR) && bin/buildout buildout:eggs-directory=$(BUILDDIR)/eggs -c prod.cfg
	echo $(DEBIANCORE)
	touch build-stamp

install-base:
	rm -rf $(DEBIANCORE)
	for i in `seq -w 01 0$(INSTANCECOUNT)` ; do \
           rm -rf $(DEBIANINSTANCE)$$i ; \
	done
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s
	rm -f ${BUILDDIR}/.mr.developer.cfg
	rm -f ${BUILDDIR}/.installed.cfg
	rm -f ${BUILDDIR}/versions-picked.cfg
	rm -fr ${BUILDDIR}/downloads

install-core:
	mkdir -p $(DEBIANCORE)/home/imio/$(PACKAGE)
	mkdir -p $(DEBIANCORE)/home/imio/$(PACKAGE)/parts
	find ${BUILDDIR}/bin -executable -type f -exec sed -i s%${BUILDDIR}%${INSTALLDIR}%g {} \;
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/bin/instance1
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/parts/instance1/bin/interpreter
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/parts/instance1/etc/zope.conf
	cp -ap $(BUILDDIR)/bin $(DEBIANCORE)/${INSTALLDIR}
	cp -ap $(BUILDDIR)/eggs $(DEBIANCORE)/${INSTALLDIR}
	cp -ap $(BUILDDIR)/parts/omelette $(DEBIANCORE)/${INSTALLDIR}/parts
	rm -r $(DEBIANCORE)/${INSTALLDIR}/bin/zeoserver
	rm -r $(DEBIANCORE)/${INSTALLDIR}/bin/zeopack
	rm -r $(DEBIANCORE)/${INSTALLDIR}/bin/repozo
	rm $(DEBIANCORE)/${INSTALLDIR}/bin/instance1
	rm $(DEBIANCORE)/${INSTALLDIR}/bin/instance2
	rm $(DEBIANCORE)/${INSTALLDIR}/bin/instance3
	rm $(DEBIANCORE)/${INSTALLDIR}/bin/instance4
	for i in $(find $(DEBIANCORE)/${INSTALLDIR}/parts/omelette -type l); do old_link=$(readlink -m $i); new_link=$(echo $old_link | sed  s%${BUILDDIR}/${INSTALLDIR}/); rm $i; ln -f -s $new_link $i; done
	find $(DEBIANCORE)/${INSTALLDIR} -name "*.pyc" -delete;
	find $(DEBIANCORE)/${INSTALLDIR} -name "*.pyo" -delete;

install-zeo:
	mkdir -p $(DEBIANZEO)/home/imio/$(PACKAGE)
	mkdir -p $(DEBIANZEO)/${INSTALLDIR}/bin
	mkdir -p $(DEBIANZEO)/${INSTALLDIR}/parts
	mkdir -p $(DEBIANZEO)/${INSTALLDIR}/var/zeo
	mkdir -p $(DEBIANZEO)/${INSTALLDIR}/var/log
	mkdir -p $(DEBIANZEO)/${INSTALLDIR}/var/filestorage
	mkdir -p $(DEBIANZEO)/${INSTALLDIR}/var/blobstorage
	touch $(DEBIANZEO)/${INSTALLDIR}/zeo_add.conf
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/bin/zeoserver
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/bin/zeopack
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/bin/repozo
	cp -ap $(BUILDDIR)/bin/zeoserver $(DEBIANZEO)/${INSTALLDIR}/bin
	cp -ap $(BUILDDIR)/bin/zeopack $(DEBIANZEO)/${INSTALLDIR}/bin
	cp -ap $(BUILDDIR)/bin/repozo $(DEBIANZEO)/${INSTALLDIR}/bin
	cp -ap $(BUILDDIR)/parts/zeoserver $(DEBIANZEO)/${INSTALLDIR}/parts
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g $(DEBIANZEO)/${INSTALLDIR}/parts/zeoserver/bin/runzeo
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g $(DEBIANZEO)/${INSTALLDIR}/parts/zeoserver/bin/zeoctl
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g $(DEBIANZEO)/${INSTALLDIR}/parts/zeoserver/etc/zeo.conf
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g $(DEBIANZEO)/${INSTALLDIR}/parts/zeoserver/etc/.eggs

install-instances:
	mkdir -p $(DEBIANINSTANCE)/${INSTALLDIR} ; \
	mkdir -p $(DEBIANINSTANCE)/${INSTALLDIR}/bin ; \
        touch $(DEBIANINSTANCE)/${INSTALLDIR}/zope_add_zeo.conf ; \
	mkdir -p $(DEBIANINSTANCE)/${INSTALLDIR}/parts ; \
	mkdir -p $(DEBIANINSTANCE)/${INSTALLDIR}/var/instance ; \
	mkdir -p $(DEBIANINSTANCE)/${INSTALLDIR}/var/blobstorage ; \
	mkdir -p $(DEBIANINSTANCE)/${INSTALLDIR}/var/log ; \
	cp -ap $(BUILDDIR)/bin/instance1 $(DEBIANINSTANCE)/${INSTALLDIR}/bin/instance ; \
	cp -ap $(BUILDDIR)/parts/instance1 $(DEBIANINSTANCE)/${INSTALLDIR}/parts/instance ; \
	sed -i s/instance1/instance/g $(DEBIANINSTANCE)/${INSTALLDIR}/bin/instance ; \
	sed -i s/instance1/instance/g $(DEBIANINSTANCE)/${INSTALLDIR}/parts/instance/etc/zope.conf ; \

install: install-base install-core install-zeo install-instances
	#rm -rf $(BUILDDIR)/

binary-common:
	dh_testdir
	dh_testroot

	dh_installchangelogs

	dh_installdocs
	dh_installdebconf
	dh_installinit
	dh_installman
	dh_link
	dh_strip
	dh_fixperms
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary-arch: install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary: binary-arch

.PHONY: build clean binary install
